body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  /* TODO Replace me with a local img ! */
  background-image: url("http://www.transparenttextures.com/patterns/back-pattern.png");
}

#header {
  color: white;
  width: 100vw;
  height: 43vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* TODO Replace me with a local img ! */
  background-image: url(http://i.imgur.com/S5bKt4s.jpg);
}

#header h1, #header p {
  flex: 1 1 100%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.80);
}

#header h1 {
  margin: 0;
}

/* Inspired by Bootstrap */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  margin: 0;
  /*height: 57vh;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.twittos-field {
  padding: 15px;
  margin: 0 auto;
  flex: 0 0 500px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #D62246;
}

.twittos-field label {
  display: none;
}

.twittos-field input {
  color: black;
  width: 500px;
  font-weight: bold;
}

.submit-form {
  border: none;
  flex: 1 1 100%;
  color: #2A2929;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
}

/* Twitter: https://dev.twitter.com/web/embedded-tweets/css */
blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
