/* TODO: autoprefixer + local img + clean tweet css */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  background-image: url("images/back-pattern.png");
}

button, input[type="submit"] {
  border: none;
  background-color: transparent;
}

.hidden {
  display: none;
}

#header {
  color: white;
  width: 100vw;
  height: 43vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-image: url("images/header.jpg");
}

#header h1, #header p {
  flex: 1 1 100%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.80);
}

#header h1 {
  margin: 0;
}

.twittos-list {
  flex: 1 1 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.twittos {
  padding: 10px;
}

.twittos button:hover {
  background: #DEDEDE;
}

/* Inspired by Bootstrap */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.twittos-field {
  padding: 15px;
  margin: 0 auto;
  flex: 0 0 500px;
  margin-top: 30px;
  background-color: #D62246;
}

.twittos-field label {
  display: none;
}

.twittos-field input {
  color: black;
  width: 500px;
  font-weight: bold;
}

.submit-form {
  flex: 1 1 100%;
  color: #2A2929;
  cursor: pointer;
  font-weight: bold;
}

/*********************************************/
/*                  RESULTS                  */
/*********************************************/

.results-title {
  font-weight: 100;
  text-align: center;
}

.results-content {
  display: flex;
  margin-top: 30px;
}

.results-content blockquote.twitter-tweet {
  background-color: #FFFFFF;
  background-image: url("images/brilliant.png");
}

.results-content blockquote.twitter-tweet p {
  color: #231F1F;
  max-height: 60px;
  overflow: hidden;
}

.twitter, .amazon {
  flex: 0 0 42.5%;
  text-align: center;
}

.separate-section {
  flex: 0 0 15%; 
  align-self: center;
}

.separate-section img {
  width: 10vw;
}

.logo-section {
  width: auto;
  height: 81px;
  margin-bottom: 10px;
}

/* Twitter: https://dev.twitter.com/web/embedded-tweets/css */
blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.amazon .product {
  text-align: left;
}

.product blockquote {
  display: flex;
  padding: 10px;
  align-items: center;
}

.product img {
  flex: 0 0 15%;
  border-radius: 5px;
}

.product .description {
  flex: 0 0 65%;
  padding: 0 10px;
}

.product .description h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.product .description p {
  margin: 0;
  font-size: 0.9rem;
}

.product aside {
  flex: 0 0 20%;
}

.product aside span {
  color: #FFAD33;
}