{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'schmilka/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'schmilka/style.css' %}" />
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400'>
<script type="text/javascript" src="{% static 'schmilka/scripts/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'schmilka/scripts/script.js' %}"></script>

<div class="content" role="main">

  <header id="header">
    <h1>Twizon</h1>
    <p>Twison vous recommande des produits basés sur les tweets d'un utilisateur.</p>
  </header>


  <form action="{% url 'app:process' %}" method="post">
    {% csrf_token %}
    <div class="twittos-field">
      <label for="twittos">Identifiant Twitter</label>
      <input name="twittos" id="twittos" placeholder="{% if error_message %} {{ error_message }} {% else %}Identifiant du compte Twitter {% endif %}">
    </div>
    <ul class="twittos-list">
      <li class="twittos first"><!-- Twitter user suggestion --></li>
      <li class="twittos"><!-- Twitter user suggestion --></li>
      <li class="twittos"><!-- Twitter user suggestion --></li>
      <li class="twittos last"><!-- Twitter user suggestion --></li>
    </ul>
    <input type="submit" value="Affichez-moi les produits associés !" class="submit-form"/>
  </form>

</div>
